a {
    margin: 2px;
}

.mat-toolbar.mat-primary {
    background: #4d0eebca;
    color: #fff;
}
.toolbar-title-text {
    font-size: 2vw;
    margin-right: 15px;
    color: #494951;
    font-style: italic;
}

header {
    a {
        margin: 2px;
    }
    .active-link {
        background-color: rgb(47, 10, 81);
    }
    .logo {
        background-image: url('../../../assets//logo.png');
        height: 50px;
        width: 50px;
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align:middle;
    }
    .mat-icon {
        vertical-align: middle;
        margin: 0 5px;
    }
}