<mat-card class="login-card" color="primary">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <table cellspacing=0>
                <tr>
                    <td>
                        <mat-form-field>
                            <input name="email" [(ngModel)]="email" matInput placeholder="Email" required
                                type="email" />
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field>
                            <input name="password" [(ngModel)]="password" matInput placeholder="Password" required
                                type="password" />
                        </mat-form-field>
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-error *ngIf="error">
                            {{error}}
                        </mat-error>
                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button (click)="login()" color="primary">Login</button>
        <span>
            Don't have an account? <a [routerLink]="['/register']">Register</a> here! <!-- ABSOLUTE routing -> 'domain/register' -->
            <!-- <a routerLink="['/register']">  RELATIVE routing -> 'domain/login/register' -->
        </span>
    </mat-card-actions>
</mat-card>