a {
    margin: 2px;
}

.mat-toolbar.mat-primary {
    background: #2da8e6ca;
    color: #fff;
}

.active-link {
    background-color: crimson;
}

.toolbar-title-text {
    font-size: 2vw;
    margin-right: 15px;
    color: #3122d3;
    font-style: italic;
}