/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';

$custom-typography:
mat-typography-config(
    $font-family: 'Exo'
);

body {
    background-color: #e95b5b;
    margin: 0;
    trisha-root * {
        font-family: 'Exo', sans-serif;
    }
}

.left-spacer {
    margin-left: 2%;
}